body {
  margin: 0;
  background-color: #0fffbe;
  font-family: sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 50px;
}

nav {
  float: right;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
  list-style: none;
  font-size: 16px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #FF0F50
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #FF0F50;
  position: absolute;
  top: 0;
  transition: all ease-in-out 300ms;
}

nav a:hover::before {
  width: 100%;
}

.main {
  text-align: center;
  margin: 0 10%;
}

.musical-instruments {
  width: 75%;
  box-shadow: 0 0 2px;
}

.btn-signup {
  border: 3px solid #FF0F50 ;
  background-color: #0fffbe;
  border-radius: 5px;
  color: #FF0F50;
  height: 50%;
  box-shadow: 0 0 2px;
  transition-duration: 0.4s;
}

.btn-signup:hover {
  background-color: #FF0F50;
  color: black;
}

.btn-signup:active {
  background-color: #0fffbe;
}

.btn-started {
  background-color: #FF0F50;
  border-radius: 5px;
}

.main input {
  background-color: #0fffbe;
  border: 2px solid gray;
  border-radius: 5px;
  color: gray;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 0 50px;
  background-color:#FF0F50;
  height: 250px;
  width: auto;
  bottom: 0;

}

.footer div {
  text-align: center;
  width: 20%;
}

.guitar-icon {
  height: 10%;
}